@import url('https://fonts.googleapis.com/css2?family=Cormorant+Garamond:wght@500&family=IBM+Plex+Serif&family=Roboto&family=Rock+Salt&display=swap');
body {
    background-color: #FFFCF2;
    font-family: 'Cormorant Garamond', Garamond, serif;
    font-size: 22px;
    margin: 0;
    padding: 0;
}
header {
    background-color: #0009026c;
    display: grid;
    grid-template-columns: 150px auto;
}
nav a:hover {
    background-color: #252422;
}
nav a {
    text-align: center;
    color: #FFFCF2;
    text-decoration: none;
    font-family: 'IBM Plex Serif', Arial, sans-serif;
    padding: 35px;
}
nav{
    display: flex;
    justify-content: space-around;
}
main section {
    text-align: center;
}
main section img {
    box-sizing: border-box;
}
footer {
    background-color: #386641;
    padding: 25px 50px;
    margin-top: 200px;
    display: flex;
    justify-content: space-around;
    align-items: center;
}
footer p {
    color: #FFFCF2;
    font-size: 1.2em;
}
footer p a:hover {
    text-decoration: underline;
}
footer a {
    color: #FFFCF2;
    text-decoration: none;
}
footer a:hover {
    color: #FFFCF2;
    background-color: #252422;
}
footer .social img {
    padding-top: 15px;
}
h4 {
    color: #FFFCF2;
}
h2 {
    font-family: 'IBM Plex Serif', Arial, sans-serif;
    margin: 0;
}
.book, .join {
    background-color: #184521;
    color: #FFFCF2;
    text-decoration: none;
    font-size: 18px;
    padding: 15px 30px;
    margin-top: 50px;
    border-radius: 5px;
}
.book:hover, .join:hover {
    background-color: #252422;
    color: white;
}
.botton-box {
    text-align: center;
}
.msg {
    background-color: #386641;
    line-height: 1.5em;
    padding: 35px;
    margin-top: 10px;
    grid-column: 6/10;
    grid-row: 6/7;
    box-shadow: 5px 5px 10px #64766b;
}
.msg h2 {
    color: #FFFCF2;
}
.msg p {
    color: #FFFCF2;
    font-size: .8em;
    padding-bottom: 15px;
}
.home-title {
    color: #FFFCF2;
    font-family: 'Rock Salt', 'Brush Script MT', cursive;
    font-size: 2em;
    margin-top: 10px;
}
.home-grid {
    display: grid;
    grid-template-columns: repeat(10, 1fr);
}
.logo {
    width: 80px;
}
.icon {
    width: 80px;
    padding-top: 10px;
}
.rivers-card {
    margin: 200px 0;
    grid-column: 2/4;
    grid-row: 2/3;
}
.camping-card {
    margin: 200px 0;
    grid-column: 5/7;
    grid-row: 2/3;
}
.rapids-card {
    margin: 200px 0;
    grid-column: 8/10;
    grid-row: 2/3;
}
.card-img {
    border: 10px solid #252422;
    width: 100%;
    transition: transform .5s;
    box-shadow: 5px 5px 10px #64766b;
}
.card-img:hover {
    opacity: .6;
    transform: scale(1.1);
}
.mountains {
    width: 100%;
    grid-column: 2/7;
    grid-row: 5/8;
    box-shadow: 5px 5px 10px #64766b;
}
#content {
    max-width: 1600px;
    margin: 0 auto;
}
#hero-msg h1, #hero-msg h4 {
    text-align: center;
}
#background {
    height: 725px;
    background: #252422;
    margin-bottom: -10px;
    grid-column: 1/11;
    grid-row: 4/9;
}
#hero-img {
    width: 100%;
}
#hero {
    display: grid;
    grid-template-columns: 1fr 3fr 1fr;
    margin-top: -100px;
}
#hero-box {
    grid-column: 1/4;
    grid-row: 1/3;
    z-index: -1;
}
#hero-msg {
    grid-column: 2/3;
    grid-row: 1/2;
    margin-top: 100px;
}
#logo_link {
    padding-top: 5px;
    justify-self: center;
    align-self: center;
}
.msg2 p {
    color: #252422;
    font-size: 30px;
    text-align: left;
}
.msg2 {
    background-color: #FFFCF2;
    line-height: 2em;
    padding: 100px;
    margin-top: 10px;
    margin-bottom: -150px;
    grid-column: 1/11;
}
.msg2 h2 {
    color: #252422;
    font-size: 50px;
}
#hero2-msg {
    text-align: center;
    grid-column: 2/3;
    grid-row: 1/2;
    margin-top: 300px;
    font-size:xx-large;
}
.bolder {
    font-weight: bolder;
}
form {
    /* Center the form on the page */
    margin: 0 auto;
    width: 500px;
    /* Form outline */
    padding: 1em;
    border-radius: 1em;
    grid-column: 2/3;
    grid-row: 1/2;
    margin-top: -500px;
    z-index: -1;
}
ul {
    list-style: none;
    padding: 0;
    margin: 0;
  }
  form li + li {
    margin-top: 1em;
  }  
  label {
    /* Uniform size & alignment */
    display: inline-block;
    width: 90px;
    text-align: right;
  }
  input,
  textarea {
    /* To make sure that all text fields have the same font settings */
    font: 0.75em 'IBM Plex Serif', Arial, sans-serif;
  
    /* Uniform text field size */
    width: 500px;
  
    /* Match form field borders */
    background: transparent;
    color: #FFFCF2;
    border: transparent;
    border-bottom: solid white
  }
  textarea {
    /* Align multiline text fields with their labels */
    vertical-align: baseline;
    text-align: left;
    margin-top: -1.5em;
  }
  .button {
    /* Align buttons with the text fields */
    padding-left: 90px; /* same size as the label elements */
  }
  button {
    /* This extra margin represent roughly the same space as the space
       between the labels and their text fields */
    margin-left: 8em;
    font: 0.75em 'IBM Plex Serif', Arial, sans-serif; 
}
input::placeholder {
    color: #FFFCF2;
}
textarea::placeholder {
    color: #FFFCF2;
    transform: translateY(20px);
}
#hero3-msg {
    text-align: center;
    grid-column: 2/3;
    grid-row: 1/2;
    margin-top: 150px;
    font-size:xx-large;
}
.home-title3 {
    color: #252422;
    font-family: 'Rock Salt', 'Brush Script MT', cursive;
    font-size: 2em;
    margin-top: 10px;
}
#feedback {
    background-color: antiquewhite;
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    padding: .5em;
    /* make this element invisible until we are ready for it */
    display: none;      
}
.moveDown {
    margin-top: 2em;
}
@media screen and (max-width: 900px) {
    #hero, .home-grid {
        display: block;
        height: auto;
    }
    nav, footer {
        flex-direction: column;
    }
    nav a {
        display: block;
        padding: 15px;
    }
    #hero {
        margin-top: 0;
    }
    #hero-msg {
        margin-top: 0;
    }
    #hero-msg h4 {
        display: none;
    }
    .home-title {
        font-size: 25px;
        color: #6f7364;
    }
    .rivers-card, .camping-card, .rapids-card { 
        margin: 50px auto;
        width: 60%;
    }
    #background {
        display: none;
    }
    .mountains, .msg .msg2 {
        width: 80%;
        display: block;
        margin: 0 auto;
    }
    footer {
        margin-top: 25px;
    }
}